<!DOCTYPE HTML>
{% load static %}
{% load miet_union_extras %}
{% load django_bootstrap_breadcrumbs %}
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,600,700" rel="stylesheet">
  <link rel "shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico'%}">
  <!-- Stylesheets -->
  {% block styles %}
  <link href="{% static 'plugin-frameworks/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'common/styles.css' %}" rel="stylesheet">
  <link href="{% static 'fonts/ionicons.css' %}" rel="stylesheet">
  {% endblock %}
  <title>{% block title%}Ednews{% endblock%}</title>
</head>

<body>
  <header>
    <div class="bottom-menu">
      <div class="container">
        <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>
        <ul class="main-menu" id="main-menu">
          <li class="drop-down"><a href="{% url 'home' %}">Главная<i class=""></i></a>
          </li>
          <li class="drop-down"><a>Студенту<i class="ion-chevron-down"></i></a>
            <ul class="drop-down-menu drop-down-inner">
              <li><a href="{% url 'moneyhelp' %}">Мат. помощь</a></li>
              <li><a href="{% url 'socialcard' %}">Соц. карта</a></li>
              <li><a href="{% url 'helpproforg' %}">В помощь профоргу</a></li>
            </ul>
          </li>
          <li class="drop-down"><a>Документы<i class="ion-chevron-down"></i></a>
            <ul class="drop-down-menu drop-down-inner">
              <li><a href="{% url 'personaldataprotection' %}">Защита персональных данных</a></li>
              <li><a href="{% url 'normativedocument' %}">Нормативные документы</a></li>
              <li><a href="{% url 'commissions' %}">Комиссии профкома</a></li>
              <li><a href="{% url 'usefullinks' %}">Полезные ссылки</a></li>
            </ul>
          </li>
          <li class="drop-down"><a>О нас<i class="ion-chevron-down"></i></a>
            <ul class="drop-down-menu drop-down-inner">
              <li><a href="{% url 'profcom' %}">О профкоме</a></li>
              <li><a href="{% url 'profsouz' %}">О профсоюзе</a></li>
              <li><a href="{% url 'ourteam' %}">Сотрудники</a></li>
            </ul>
          </li>
          {% if user.is_authenticated %}
          <li class="drop-down" style="float: right;"><a>{{ user.first_name }} ({{user.email}}) <i
                class="ion-chevron-down"></i></a>
            {% else %}
          <li class="drop-down" style="float: right;"><a>Гость<i class="ion-chevron-down"></i></a>
            {% endif %}
            <ul class="drop-down-menu drop-down-inner">
              <li>
                {% if user.is_authenticated %}
                <a href="{% url 'my_account'%}">Личный кабинет</a></li>
              {% else %}
              <a class="nav-link" href="{% url 'login'%}">Личный кабинет</a>
              {% endif %}
              {% if user.is_superuser %}
              <li><a href="admin" style="background: red;">Консоль администратора</a></li>
              {% else %}
              {% endif %}
              <li>
                {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout'%} ">Выйти</a>
                {% else %}
                <a class="nav-link" href="{% url 'login'%} ">Войти</a>
                {% endif %}
              </li>
            </ul>
          </li>
          <div class="clearfix"></div>
      </div><!-- container -->
    </div><!-- bottom-menu -->
  </header>
  {% block content%}
  {% endblock%}
	<footer class="bg-191 pos-relative color-ccc bg-primary pt-50">
		<div class="abs-tblr pt-50 z--1 text-center">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-8 col-sm-8">	
					<h5 class="f-title"><b>Студенту</b></h5>
					<ul class="mb-30 list-hover list-block list-a-ptb-5">
						<li><a href="{% url 'moneyhelp' %}">Мат. помощь</a></li>
						<li><a href="{% url 'socialcard' %}">Соц. карта</a></li>
						<li><a href="{% url 'helpproforg' %}">В помощь профоргу</a></li>
					</ul>
				</div><!-- col-sm-4 -->			
				<div class="col-lg-4 col-md-8 col-sm-8">	
					<h5 class="f-title"><b>Документы</b></h5>
					<ul class="mb-30 list-hover list-block list-a-ptb-5">
						<li><a href="{% url 'personaldataprotection' %}">Защита персональных данных</a></li>
						<li><a href="{% url 'normativedocument' %}">Нормативные документы</a></li>
						<li><a href="{% url 'commissions' %}">Комиссии профкома</a></li>
						<li><a href="{% url 'usefullinks' %}">Полезные ссылки</a></li>
					</ul>
				</div><!-- col-sm-4 -->				
				<div class="col-lg-4 col-md-8 col-sm-8">	
					<h5 class="f-title"><b>О нас</b></h5>
					<ul class="mb-30 list-hover list-block list-a-ptb-5">
						<li><a href="{% url 'profcom' %}">О профкоме</a></li>
						<li><a href="{% url 'profsouz' %}">О профсоюзе</a></li>
						<li><a href="{% url 'ourteam' %}">Сотрудники</a></li>
					</ul>
				</div><!-- col-sm-4 -->						
			</div><!-- row -->		
			<div class="mt-20 brdr-ash-1 opacty-4"></div>			
			<div class="text-center ptb-30">
				<div class="row">
					<div class="col-sm-3">
						 <p class="text-md-center font-9 pt-5 mtb-5" style="font-size: 15px;">
              &copy; <script>
                document.write(new Date().getFullYear());
              </script> MIET
            </p>
					</div><!-- col-sm-3 -->			
					<div class="col-sm-5">
						<p class="mtb-10">Подписывайтесь на наши социальные сети</p>
					</div><!-- col-sm-3 -->				
					<div class="col-sm-4">
						<ul class="mtb-10 font-12 list-radial-35 list-li-mlr-3">
							<li><a href="#"><i class="ion-social-facebook"></i></a></li>
							<li><a href="#"><i class="ion-social-twitter"></i></a></li>
							<li><a href="#"><i class="ion-social-pinterest"></i></a></li>
							<li><a href="#"><i class="ion-social-google"></i></a></li>
							<li><a href="#"><i class="ion-social-rss"></i></a></li>
						</ul>
					</div><!-- col-sm-3 -->
				</div><!-- row -->
			</div><!-- text-center -->
		</div><!-- container -->
  </footer>
  <!-- SCIPTS -->
  <script src="{% static 'plugin-frameworks/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'plugin-frameworks/tether.min.js' %}"></script>
  <script src="{% static 'plugin-frameworks/bootstrap.js' %}"></script>
  <script src="{% static 'common/scripts.js' %}"></script>
</body>

</html>