{% extends "miet_union/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block title %} Комиссии профкома {% endblock %}

{% block content %}
<section class="">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
					<div class="col-md-12 col-lg-12">
						<p class="mtb-1">
							<h1 style="text-align:center; color: black;"> Комиссии профкома
							</h1>
						</p>
					</div>
          <p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Pol_kom_kontrol_org_pitanya.pdf">Положение о комиссии
               по контролю за организацией питания</a>
						</h5>
					</p>
          <p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Pol_kom_kultur_fiz.pdf">Положение о комиссии
               по культурно-массовой и физкультурно-оздоровительной работе</a>
						</h5>
					</p>
          <p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Pol_kom_social_veterany.pdf">Положение о комиссии
               по социальной работе и по работе с ветеранами</a>
						</h5>
					</p>
          <p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Pol_kom_oxrana_tryda.pdf">Положение о комиссии
               по охране труда</a>
						</h5>
					</p>
          <p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Pol_revizion_kom_profsouz.pdf">Положение о ревизионной комиссии
               первичной профсоюзной организации МИЭТа</a>
						</h5>
					</p>
          <p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Pol_kom_soblud_interes.pdf">Положение о комиссии по соблюдению финансовых,
               социально-экономических и трудовых интересов членов профсоюза</a>
						</h5>
					</p>
				</div>
			</div><!-- col-sm-8 -->
		</div><!-- row -->
	</div><!-- container -->
</section>
{% endblock %}