{% extends "miet_union/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block title %} В помощь профоргу {% endblock %}
{% block content %}
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          <div class="col-md-12 col-lg-12">
            <p class="mtb-1">
              <h1 style="text-align:center; color: black;"> В помощь профоргу
              </h1>
            </p>
          </div>
          {% for help_prof_org_document in help_prof_org_documents %}
          <p class="mtb-25">
            <h5 style="color: blue;">
              <a href="media/{{ help_prof_org_document.file }}">{{ help_prof_org_document.title }}</a>
            </h5>
          </p>
          {% endfor %}
        </div>
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          <div class="col-md-12 col-lg-12">
            <p class="mtb-1">
              <h1 style="text-align:center; color: black;">В помощь студенческому профоргу</h1>
            </p>
          </div>
          {% for help_student_prof_org_document in help_student_prof_org_documents %}
          <p class="mtb-25">
            <h5 style="color: blue;">
              <a href="media/{{ help_student_prof_org_document.file }}">{{ help_student_prof_org_document.title }}</a>
            </h5>
          </p>
          {% endfor %}
          <p class="mtb-25">
            <h5 style="color: black;">Для руководства профсоюзной работой внутри студенческой группы избирается
              профсоюзный
              групповой организатор (профорг).
            </h5>
          </p>
          <p class="mtb-25">
            <h5 style="color: black;">Профорг – студент, выбранный собранием группы и представляющий интересы
              студентов группы- членов профсоюза в профсоюзной организации и администрации ВУЗа. Выборы профгрупорга
              проводятся на общем собрании членов профсоюза, входящих в академическую группу. Профгрупорг избирается
              открытым голосованием сроком на один год.
            </h5>
          </p>
          <p class="mtb-25">
            <h5 style="color: black;">Профорг занимается вопросами, связанными с решением социальных
              проблем студентов, защитой их законных прав и интересов.
            </h5>
          </p>
        </div>
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          <div class="col-md-12 col-lg-12">
            <p class="mtb-1">
              <h1 style="text-align:center; color: black;">Обязанности профорга</h1>
            </p>
          </div>
          <p class="mtb-25">
            <h5 style="color: black;">
              <al>
                <li>Участвовать во всех коллективных действиях по защите прав и интересов Профсоюза.</li>
                <li>Контролировать уплату профсоюзных взносов в группе.</li>
                <li>Доводить до сведения группы все новости профсоюзной студенческой жизни.</li>
                <li>Совместно со студенческим активом группы участвовать в подготовке и проведении культурно-массовых,
                  спортивно-массовых мероприятий.</li>
                <li>Вести пропаганду здорового образа жизни.</li>
              </al>
            </h5>
          </p>
        </div>
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          <div class="col-md-12 col-lg-12">
            <p class="mtb-1">
              <h1 style="text-align:center; color: black;">Основные направления деятельности профорга:</h1>
            </p>
          </div>
          <p class="mtb-25">
            <h5 style="color: black;">
              <al>
                <li>Оформление банковских карт для получения стипендии.</li>
                <li>Выявление социально незащищенных студентов группы.</li>
                <li>Помощь студентам, нуждающимся в материальной поддержке.</li>
              </al>
            </h5>
          </p>
          {% for the_main_activities_of_prof_org_document in the_main_activities_of_prof_org_documents %}
          <p class="mtb-25">
            <h5 style="color: blue;">
              <a href="media/{{ the_main_activities_of_prof_org_document.file }}">{{ the_main_activities_of_prof_org_document.title }}</a>
            </h5>
          </p>
          {% endfor %}
        </div>
      </div><!-- col-sm-8 -->
      <div class="col-md-12 col-lg-4">
      </div><!-- col-sm-4 -->
    </div><!-- row -->
  </div><!-- container -->
</section>
{% endblock %}