{% extends "miet_union/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block title %} В помощь профоргу {% endblock %}
<!-- START OF BREACRUMBS -->
{% block content %}
<section class="">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
					<div class="col-md-12 col-lg-12">
						<p class="mtb-1">
							<h1 style="text-align:center; color: black;"> В помощь профоргу
							</h1>
						</p>
					</div>
					<p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Pamytka_proforgu_podradeleniy.docx">Памятка профоргу
								подразделения</a>
						</h5>
					</p>
					<p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Zayvlenye_vstuplen_PPO.docx">Заявление о вступлении в
								первичную профсоюзную организацию МИЭТа</a>
						</h5>
					</p>
					<p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Zayvlenye_o%20vyhode.docx">Заявление о выходе из
								профсоюза</a>
						</h5>
					</p>
					<p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Spisok_chlenov.docx">Список членов профсоюза</a>
						</h5>
					</p>
					<p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Protokol_profsobranya.docx">Протокол профсоюзного
								собрания</a>
						</h5>
					</p>
					<p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Spisok_detey.docx">Список детей членов профсоюза</a>
						</h5>
					</p>
					<p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Zayavlenye_ProfkomMIET_matpom.docx">Заявление на оказание
								материальной помощи</a>
						</h5>
					</p>
					<p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Zayvlenye_putevka.doc">Заявление на путевку в детский
								оздоровительный лагерь</a>
						</h5>
					</p>
					<p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Spisok_ubilyarov.docx">Список юбиляров членов
								профсоюза</a>
						</h5>
					</p>
				</div>
				<div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
					<div class="col-md-12 col-lg-12">
						<p class="mtb-1">
							<h1 style="text-align:center; color: black;">В помощь студенческому профоргу</h1>
						</p>
					</div>
					<p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Pamytka_proforgu_stud_gruppy.docx"> Памятка профоргу
								студенческой группы</a>
						</h5>
					</p>
					<p class="mtb-25">
						<h5 style="color: black;">Для руководства профсоюзной работой внутри студенческой группы избирается
							профсоюзный
							групповой организатор (профорг).
						</h5>
					</p>
					<p class="mtb-25">
						<h5 style="color: black;">Профорг – студент, выбранный собранием группы и представляющий интересы
							студентов группы- членов профсоюза в профсоюзной организации и администрации ВУЗа. Выборы профгрупорга
							проводятся на общем собрании членов профсоюза, входящих в академическую группу. Профгрупорг избирается
							открытым голосованием сроком на один год.
						</h5>
					</p>
					<p class="mtb-25">
						<h5 style="color: black;">Профорг занимается вопросами, связанными с решением социальных
							проблем студентов, защитой их законных прав и интересов.
						</h5>
					</p>
				</div>
				<div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
					<div class="col-md-12 col-lg-12">
						<p class="mtb-1">
							<h1 style="text-align:center; color: black;">Обязанности профорга</h1>
						</p>
					</div>
					<p class="mtb-25">
						<h5 style="color: black;">
							<al>
								<li>Участвовать во всех коллективных действиях по защите прав и интересов Профсоюза.</li>
								<li>Контролировать уплату профсоюзных взносов в группе.</li>
								<li>Доводить до сведения группы все новости профсоюзной студенческой жизни.</li>
								<li>Совместно со студенческим активом группы участвовать в подготовке и проведении культурно-массовых,
									спортивно-массовых мероприятий.</li>
								<li>Вести пропаганду здорового образа жизни.</li>
							</al>
						</h5>
					</p>
				</div>
				<div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
					<div class="col-md-12 col-lg-12">
						<p class="mtb-1">
							<h1 style="text-align:center; color: black;">Основные направления деятельности профорга:</h1>
						</p>
					</div>
					<p class="mtb-25">
						<h5 style="color: black;">
							<al>
								<li>Оформление банковских карт для получения стипендии.</li>
								<li>Выявление социально незащищенных студентов группы.</li>
								<li>Помощь студентам, нуждающимся в материальной поддержке.</li>
							</al>
						</h5>
					</p>
					<p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Zayvlenye_vstuplenye_student.doc">Заявление о вступлении в профсоюз</a>
						</h5>
					</p>
					<p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Protokol_vybor_proforga.doc">Протокол профсоюзного собрания об
								избрании
								профорга</a>
						</h5>
					</p>
					<p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Socialnya_karta_gruppy.doc">Социальная карта группы</a>
						</h5>
					</p>
					<p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Pamyatka_oformlenye_bank_karty.doc">Памятка по оформлению банковский карт
								для
								получения стипендии</a>
						</h5>
					</p>
					<p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Hodatistvo_matpom.doc">Ходатайство об оказании материальной
								помощий</a>
						</h5>
					</p>
				</div>
			</div><!-- col-sm-8 -->
			<div class="col-md-12 col-lg-4">
			</div><!-- col-sm-4 -->
		</div><!-- row -->
	</div><!-- container -->
</section>
{% endblock %}