{% extends "miet_union/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block title %} Домашняя страница {% endblock %}
<!-- START OF MAIN SLIDER -->
{% block content %}
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          <h4 class="p-title"><b>Главная новость</b></h4>
          <img src="{% static 'images/news-1-700x400.jpg' %}" alt="">
          <h3 class="mt-30"><a href="#">Пример текста</a></h3>
          <ul class="mtb-10 list-li-mr-20 color-lite-black">
            <li><i class="mr-5 font-12 ion-clock"></i>6 ноября 2019 г.</li>
            <li><i class="mr-5 font-12 ion-android-person"></i>John Dowson</li>
            <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>15</li>
            <li><i class="mr-5 font-12 ion-eye"></i>105</li>
          </ul>
          <p>Пример описания ...</p>
        </div><!-- bg-white -->
        {% if news %}
        {% for news in news  %}
        <div class="mb-30 sided-350x card-view">
          <div class="s-left">
            {% comment %} need to refactor {% endcomment %}
            <img src="/media/{{ news.image }}" alt="">
          </div><!-- left-area -->
          <div class="s-right ptb-0 p-sm-20 pb-sm-0 plr-30 plr-xs-0">
            <h4><a href="{% url 'news_page' pk=news.pk %}"
                style="font-weight: 500; font-size: 1.15em; padding-top: 15px; padding-bottom: 15px;">
                {{ news.title|truncatechars:70 }}</a></h4>
            <div class="ptb-20 p-sm-20 pb-sm-0 plr-xs-0">
              {% comment %} <p>{{ news.main_text|safe|truncatechars:90 }}</p> {% endcomment %}
            </div>
            <ul class="mtb-10 list-li-mr-20 color-lite-black">
              <li><i class="mr-5 font-12 ion-clock"></i>{{ news.created }}</li>
            </ul>
          </div><!-- right-area -->
        </div><!-- sided-350x -->
        {% endfor %}
        {% endif %}
      </div><!-- col-sm-8 -->
      <!-- START OF SIDEBAR NEWSLETTER -->
      <div class="col-md-12 col-lg-4">
        <div class="mb-30 mt-md-30 p-30 card-view">
          <h4 class="p-title"><b>Войти</b></h4>
          <form action="" class="form-sm max-w-400x mlr-auto" method="post"> {% csrf_token %}
            {{form.as_p}}
              <h6><button class="mt-15 plr-20 btn-b-sm btn-fill-primary dplay-block" type="submit"
                style="font-size: 1.1em;"><b>Войти</b></button></h6>
          </form>
        </div><!-- card-view -->
        <div class="mb-30 mt-md-30 p-30 card-view">
          <h4 class="p-title"><b>Мы вконтакте</b></h4>
          <ul>
            <script type="text/javascript" src="https://vk.com/js/api/openapi.js?162"></script>
            <!-- VK Widget -->
            <div id="vk_groups"></div>
            <script type="text/javascript">
              VK.Widgets.Group("vk_groups", {
                mode: 3,
                width: "auto",
                no_cover: 0,
              }, 20030105);
            </script>
          </ul>
        </div><!-- card-view -->
        <div class="mb-30 mt-md-30 p-30 card-view">
          <h4 class="p-title"><b>Уведомления</b></h4>
          <p class="text-center" style="margin-bottom: 20px;">Подписаться на уведомления об новостях</p>
          <form class="form-sm max-w-400x mlr-auto">
            <input type="email" placeholder="Ваш Email">
            <h6><button class="mt-15 plr-20 btn-b-sm btn-fill-primary dplay-block" type="submit"
                style="font-size: 1.1em;"><b>Подписаться</b></button></h6>
          </form>
        </div><!-- card-view -->
        <div class="mb-30 mt-md-30 p-30 card-view">
          <h4 class="p-title"><b>Наш офис</b></h4>
          <ul class="list-contact list-li-mb-20">
            <li><i class="ion-ios-home" style="font-size: 1.7em;"></i>124498, Россия, Москва, Зеленоград, Площадь
              Шокина, дом 1. ауд (1206, 1206а)
            </li>
            <li><a href="#"><i class="ion-ios-telephone" style="font-size: 1.7em;"></i>8 (499) 710-14-47</a></li>
            <li>
              <ul>
                <li><a href="#"><i class="ion-email" style="font-size: 1.7em;"></i>profcom@miee.ru</a></li>
                <li><a href="#"><i class="ion-email" style="font-size: 1.7em;"></i>profcom-miet@mail.ru</a></li>
              </ul>
            </li>
            <li class="mb-0"><a href="https://miet.ru/structure/s/1905/e/50497/355"><i class="ion-ios-world"
                  style="font-size: 1.7em;"></i>https://miet.ru/profcom</a></li>
            </li>
        </div><!-- card-view -->
        <!-- END OF SIDEBAR NEWSLETTER -->
      </div><!-- col-sm-4 -->
    </div><!-- row -->
  </div><!-- container -->
</section>
{% endblock %}