{% extends "miet_union/base.html" %}
{% block title %}Страница Входа{% endblock %}

{% block content %}
<div class="container">
  <div class="row mx-auto">
    <div class='col-md-6 offset-md-3 '>
      <h1 class="" style="text-align: center;">Войти в систему</h1>
      <form action="" method="post"> {% csrf_token %}
        {{form.as_p}}
        {% comment %}<div class='col-md-12 offset-md-0 btn-block'>{% endcomment %}
        <div class=' btn-block '>
          <br><input type="submit" value="Войти" class="btn-secondary active font-11">
        </div>
      </form>
      <a href="/registration" class="btn btn-secondary btn-md active mt-2 btn-block font-11 " role="button"
        aria-pressed="true">Зарегистрироваться</a>
    </div>
  </div>
</div>
{% endblock %}