{% extends "miet_union/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block title %} Законодательные, нормативные и уставные документы {% endblock %}
{% block content %}
<section class="">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
					<div class="col-md-12 col-lg-12">
						<p class="mtb-1">
							<h1 style="text-align:center; color: black;"> Законодательные, нормативные и уставные документы
							</h1>
						</p>
					</div>
          <p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Pol_PPO_MIET_2001_11_19.pdf">Положение
               о первичной профсоюзной организации сотрудников и студентов МИЭТа</a>
						</h5>
					</p>
          <p class="mtb-25">
						<h5 style="color: blue;">
							<a href="http://miet.ru/upload/content/PROFKOM/o_socialnom_partnerstve.pdf">Закон
               города Москвы о социальном партнерстве</a>
						</h5>
					</p>
          <p class="mtb-25">
						<h5 style="color: blue;">
							<a href="http://miet.ru/upload/content/PROFKOM/zakOprofsojyzah.pdf">Федеральный
               закон о профессиональных союзах, их правах и гарантиях деятельности</a>
						</h5>
					</p>
          <p class="mtb-25">
						<h5 style="color: blue;">
							<a href="http://miet.ru/upload/content/PROFKOM/zakObObshestvObedin.pdf">Федеральный закон
               об общественных объединениях</a>
						</h5>
					</p>
          <p class="mtb-25">
						<h5 style="color: blue;">
							<a href="http://miet.ru/upload/content/PROFKOM/TrudKod.pdf">Трудовой кодекс Российской Федерации</a>
						</h5>
					</p>
          <p class="mtb-25">
						<h5 style="color: blue;">
							<a href="http://miet.ru/upload/content/PROFKOM/UstMGOprofs.pdf">Устав региональной общественной организации
               МГО Профсоюза работников народного образования и науки РФ</a>
						</h5>
					</p>
          <p class="mtb-25">
						<h5 style="color: blue;">
							<a href="http://miet.ru/upload/content/PROFKOM/UstProfsObrazovan.pdf">Устав профсоюза работников народного образования
               и науки РФ</a>
						</h5>
					</p>
          <p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Otraslev_soglashenie_2014_2016.pdf">Отраслевое соглашение
               между Департаментом образования г. Москвы
               и Московской городской организацией Профсоюза работников народного образования и науки Российской Федерации на 2014-2016 годы</a>
						</h5>
					</p>
				</div>
			</div><!-- col-sm-8 -->
		</div><!-- row -->
	</div><!-- container -->
</section>
{% endblock %}