{% extends "miet_union/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block title %} Наша команда {% endblock %}
{% block content %}
<section class="">
  <div class="container">
    <div class="row">
      {% if worker %}
      {% for worker in worker %}
      <div class="col-md-12 col-lg-6">
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          <h4 class="p-title"><b>{{ worker.last_name }} {{ worker.first_name }} {{ worker.middle_name }}</b></h4>
          <img src="/media/{{ worker.photo }}" alt="">
          {% comment %} need to refactor {% endcomment %}
          <h3 class="mt-30"></h3>
          <p>{{ worker.last_name }} {{ worker.first_name }} - {{ worker.position }}</p>
        </div><!-- bg-white -->
        </div>
        {% endfor %}
        {% endif %}
      
      </div><!-- row -->
    </div><!-- container -->
</section>
{% endblock %}