{% extends "miet_union/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block title %} Защита персональных данных {% endblock %}
{% block content %}
<section class="">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
					<div class="col-md-12 col-lg-12">
						<p class="mtb-1">
							<h1 style="text-align:center; color: black;"> Защита персональных данных
							</h1>
						</p>
					</div>
					<p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Pol_zacita_person_dan.pdf"> Положение «О защите персональных данных»
               первичной профсоюзной организации сотрудников и студентов МИЭТа</a>
						</h5>
					</p>
          <p class="mtb-25">
						<h5 style="color: blue;">
							<a href="https://miet.ru/upload/content/PROFKOM/Soglasye_obrabotku_PD.docx"> Согласие на обработку
               персональных данных члена Профсоюза</a>
						</h5>
					</p>
				</div>
			</div><!-- col-sm-8 -->
		</div><!-- row -->
	</div><!-- container -->
</section>
{% endblock %}