{% extends "miet_union/base.html" %}
{% block title %}Страница регистрации{% endblock %}

{% block content %}
<section class="">
  <div class="container">
    <div class="row mx-auto">
      <div class='col-md-6 offset-md-3 '>
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          <h1 class="" style="text-align: center;">Регистрация</h1>
          <form action="" method="post"> {% csrf_token %}
            {{form.as_p}}
            <div class='btn-block'>
              <br><input type="submit" value="Зарегистрироваться" class="btn-fill-primary font-11">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}