{% extends "miet_union/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block title %} Социальная карта {% endblock %}
{% block content %}
<section class="">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
					<div class="col-md-12 col-lg-12">
						<p class="mtb-1">
							<h1 style="text-align:center; color: black;"> Уважаемые студенты!
							</h1>
						</p>
					</div>
					<p class="mtb-25">
						<h5 style="color: black;">Обращаем Ваше внимание, что для изготовления банковской и социальной карт необходимо срочно заполнить согласие на обработку персональных данных.
                         Это можно сделать на сайте МИЭТа <a href="http://vk.com/away.php?to=http%3A%2F%2Fusers.miet.ru" style="color: blue;">users.miet.ru</a> в личном кабинете в разделе «Персональные данные».
						</h5>
					</p>
					<p class="mtb-25">
						<h5 style="color: black;">Согласие в распечатанном виде необходимо принести в Профком МИЭТа (ауд. 1206).
						</h5>
					</p>
                    <div class="col-md-12 col-lg-12">
                        <p class="mtb-30" style="text-align: center;">
                            <img src="{% static 'images/A3_SKM_students_v04.jpg'%}" style="width: 70%">
                        </p>
                    </div>
				</div>
			</div><!-- col-sm-8 -->
		</div><!-- row -->
	</div><!-- container -->
</section>
{% endblock %}