{% extends "miet_union/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block title %} Полезные ссылки {% endblock %}
{% block content %}
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          <div class="col-md-12 col-lg-12">
            <p class="mtb-1">
              <h1 style="text-align:center; color: black;"> Полезные ссылки
              </h1>
            </p>
          </div>
          <p class="mtb-25">
            <h5 style="color: black;">
              <a href="http://pronm.ru/" style="color: blue;">http://pronm.ru/</a> – сайт Московской городской
              организации Профсоюза
              работников народного образования и науки РФ. Содержит информацию по социальной, юридической,
              информационной и организационной
              поддержке членов профсоюза.
            </h5>
          </p>
          <p class="mtb-25">
            <h5 style="color: black;">
              <a href="http://vk.com/profcommiet?_smt=groups_list%3A1"
                style="color: blue;">http://vk.com/profcommiet?_smt=groups_list%3A1</a> – группа
              Профсоюзного комитета МИЭТ в Контакте. Здесь в режиме реального времени можно обсудить все проблемы
              профсоюзной организации сотрудников
              и студентов МИЭТ, а также узнать последние новости о деятельности организации.
            </h5>
          </p>
          <p class="mtb-25">
            <b>
              <h5 style="color: black;">
                Адреса электронной почты профкома:
              </h5>
            </b>
          </p>
          <p class="mtb-25">
            <h5 style="color: blue;">
              <a href="https://e.mail.ru/messages/inbox/">profcom-miet@mail.ru</a>
            </h5>
          </p>
          <p class="mtb-25">
            <h5 style="color: blue;">
              <a href="https://e.mail.ru/messages/inbox/">profcom@miee.ru</a>
            </h5>
          </p>
        </div>
      </div><!-- col-sm-8 -->
    </div><!-- row -->
  </div><!-- container -->
</section>
{% endblock %}