{% extends "miet_union/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block title %} Полезные ссылки {% endblock %}
{% block content %}
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="mb-30 p-30 ptb-sm-25 plr-sm-15 card-view">
          <div class="col-md-12 col-lg-12">
            <p class="mtb-1">
              <h1 style="text-align:center; color: black;"> Полезные ссылки
              </h1>
            </p>
          </div>
          <p class="mtb-25">
            <h5 style="color: black;">
              <a href="http://pronm.ru/" style="color: blue;">http://pronm.ru/</a> – сайт Московской городской
              организации Профсоюза
              работников народного образования и науки РФ. Содержит информацию по социальной, юридической,
              информационной и организационной
              поддержке членов профсоюза.
            </h5>
          </p>
          <p class="mtb-25">
            <h5 style="color: black;">
              <a href="http://vk.com/profcommiet"
                style="color: blue;">http://vk.com/profcommiet</a> – группа
              Профсоюзного комитета МИЭТ в Контакте. Здесь в режиме реального времени можно обсудить все проблемы
              профсоюзной организации сотрудников
              и студентов МИЭТ, а также узнать последние новости о деятельности организации.
            </h5>
          </p>
          <p class="mtb-25">
            <b>
              <h5 style="color: black;">
                Контактная информация:
              </h5>
            </b>
          </p>
          <p class="mtb-25">
          <ul class="list-contact list-li-mb-20">
            <li><i class="ion-ios-home" style="font-size: 1.7em;"></i>124498, Россия, Москва, Зеленоград, Площадь
              Шокина, дом 1. ауд (1206, 1206а)
            </li>
            <li><a href="#"><i class="ion-ios-telephone" style="font-size: 1.7em;"></i>8 (499) 710-14-47</a></li>
            <li><a href="#"><i class="ion-email" style="font-size: 1.7em;"></i>profcom@miee.ru</a></li>
            <li><a href="#"><i class="ion-email" style="font-size: 1.7em;"></i>profcom-miet@mail.ru</a></li>
          </ul>
        </div>
      </div><!-- col-sm-8 -->
    </div><!-- row -->
  </div><!-- container -->
</section>
{% endblock %}